body    {

    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container  {
    background-color: gray;
    display: flex;
    flex-direction: column;
 
 
  
}

#buttons    {
    display: grid;
      border-style: solid;
    border-color: red;
    grid-template-columns: repeat(4, 56px [column-start]);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}


.button {
    height: 48px;
    width:  48px;
    margin-top: 8px;
}


#screen {
    color: blue;
    border-style: solid;
    border-color: red;
    margin: 8px;
    padding: 4px;
    display: flex;
    justify-content: right;
}